{% extends "layouts.html" %}
{% block heading %}
<div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('home') }}" >VAT</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><p class="navbar-text" >{{user}}</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{url_for('login')}}" >Sign In</a></li>
                    <li><a href="{{url_for('register')}}" >Sign Up</a></li>
                </ul>
{% endblock %}

{% block content %}

        <h1>Welcome to the Shot Annotator</h1>
        <p>The purpose of the specific web app is to randomly show shots to annotators, in order to choose the corresponding shot class.</p>

        <h2>How to use:</h2>
        <span>
            First you have to log in, if you have not already singed up, in order to know the annotator's profile.<br>
            Then, you have to watch a randomly selected shot and you have to provide the shot
            that better describes the current shot.<br>
            The more shots you annotate, the better dataset is made.
        </span>
        <br>
        <br>
        <h2> Guidelines </h2>
        <span>
            For more information regarding the shot classes please consult <a href="https://docs.google.com/document/d/1ia-Pea1z3SOJwSh_082DDzGZFo1cLz6-lY6m0sddDtc/edit#" >this document</a>.
        </span>
{% endblock %}